@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

html {
  font-family: "Nunito";
  font-size: 12px;
}

body{
  background: url("../img/background.jpg");
  background-attachment:fixed;
  font-weight: 300;
  font-size: 1.05rem;
  line-height: 1.6;
  font-family: 'Poppins', sans-serif;
}

section {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px 0;
    background-color: rgba(233, 106, 16, 0.548);
}

.card div{
  position: relative;
  background-color: #fff;
  height: 470px;
  width: 400px;
  border-radius: 20px;
  box-shadow: 10px 10px 40px #434040;
}
.chef1{
  left: -250px;
  top: -50px;
}
.chef2{
  left: 250px;
  top: -520px;
}
.chef3{
  left: -250px;
  top: -400px;
}
.chef4{
  left: 250px;
  top: -870px;
}
.chef5{
  left: -250px;
  top: -750px;
}
.chef6{
  left: 250px;
  top: -1220px;
}
.chef7{
  left: -250px;
  top: -1100px;
}
.chef8{
  left: 250px;
  top: -1570px;
}
.chef9{
  left: -250px;
  top: -1450px;
}
.chef10{
  left: 250px;
  top: -1920px;
}
.card-img {
  position: relative;
  border-radius: 11px;
  width: 320px;
  height: 220px;
  top: 20px;
  margin: 0 auto;
  display: block;
}
.card div h2{
  margin-top: 40px;
  
    font-weight: 600;
}
.card div p{
  font-size: 13px;
    font-weight: 400;
    margin-top: 5px;
    margin-left: 22px;
    margin-right: 22px;
}
.card a{
  position: absolute;
  background-color: #f47c1a;
  font-size: 13px;
    padding: 7px 12px;
    text-decoration: none;
    font-weight: 600;
    color: #eee;
    border-radius: 5px;
    transition: background-color 0.5s linear;
    margin-top: 15px;
    margin-left: 150px;
    text-align: center;
}
.card a:hover{
  transition: 80ms;
  -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    transform: scale(1.1); 
}

.btn{
    position: fixed;
    top: 25px;
    left: 20px;
    height: 45px;
    width: 45px;
    text-align: center;
    background:rgba(255, 255, 255, 0.829);
    border-radius: 10px;
    cursor: pointer;
    transition: left 0.4s ease;
  }
  .btn.click{
    left: 270px;
  }
  .btn span{
    color: rgb(214, 99, 17);
    font-size: 28px;
    line-height: 45px;
  }
  .btn.click span:before{
    content: '\f00d';
  }
  .sidebar{
    position: fixed;
    top: 25px;
    width: 250px;
    height: 92%;
    left: -250px;
    background: rgba(255, 255, 255, 0.829);
    border-radius: 10px;
    transition: left 0.4s ease;
  }
  .sidebar.show{
    left: 10px;
  }
  .sidebar .text{
    color: rgb(255, 113, 19);
    font-size: 30px;
    font-weight: 600;
    line-height: 65px;
    text-align: center;
    background: #ffffff46;
    letter-spacing: 1px;
    border-radius: 10px 10px 0px 0px;
  }
  nav ul{
    background: #e1710200;
    height: 83%;
    width: 100%;
    list-style: none;
    border-radius: 0px 0px 10px 10px;
  }
  nav ul li{
    line-height: 60px;
    border-top: 1px solid rgb(255, 255, 255);
  }
  nav ul li:last-child{
    border-bottom: 1px solid rgb(255, 255, 255);
  }
  nav ul li a{
    position: relative;
    color:rgb(255, 113, 19);
    color: block;
    text-decoration: none;
    font-size: 20px;
    padding-left: 40px;
    font-weight: 500;
    display: block;
    width: 100%;
    border-left: 3px solid transparent;
  }
  nav ul li.active a{
    color: rgb(255, 113, 19);
    background: #f1ece658;
    border-left-color: rgb(255, 113, 19);
  }
  nav ul li a:hover{
    background: #ffffffaa;
    
  }
  nav ul ul{
    position: static;
    display: none;
  }
  nav ul .serv-show.show1{
    display: block;
  }
  nav ul ul li{
    line-height: 42px;
    border-top: none;
  }
  nav ul ul li a{
    font-size: 17px;
    color: rgb(255, 113, 19);
    padding-left: 80px;
  }
  nav ul li.active ul li a{
    color:rgb(255, 113, 19);
    background: #c0c0c03b;
    border-left-color: transparent;
  }
  nav ul ul li a:hover{
    color: rgb(255, 255, 255)!important;
    background: #ff6f00a3!important;
  }
  nav ul li a span{
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    font-size: 22px;
    transition: transform 0.4s;
  }
  nav ul li a span.rotate{
    transform: translateY(-50%) rotate(-180deg);
  }